<div class="text-center">
  <h1>会員登録</h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: @user, local: true) do |f| %>
      
      <div class="form-group mt-5">
        <%= f.label :name, 'ハンドルネーム' %>
        <%= f.text_field :name, class: 'form-control', placeholder: "本名じゃなくて大丈夫です" %>
      </div>

      <div class="form-group mt-5">
        <%= f.label :password, 'パスワード' %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>

      <div class="form-group mt-5">
        <%= f.label :password_confirmation, '確認用パスワード' %>
        <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "パスワードをもう一度入力してください" %>
      </div>

      <%= f.submit '会員登録', class: 'btn btn-success btn-block mt-5' %>
    <% end %>
  </div>
</div>