<% if logged_in? %>
<nav class="navbar navbar-dark bg-success text-white">
  
      <%= link_to 'ウバポス', posts_path, class: "link" %><i class="fab fa-uber"></i></div>

</nav>

<nav class="navbar navbar-dark  text-dark">
  <div class="d-flex flex-row">
      <div class = "p-2">お店を名前で調べる</div>
      <div class="p-2"><%= search_form_for @q, url: search_path do |f| %></div>
      <div class="p-2"><%= f.search_field :shopname_cont, class: 'form-control', placeholder: "お店の名前を入れてください" %></div>
      <div class="p-2"><%= f.submit'検索',class: 'btn btn-success' %></div>
      
      <% end %>
  </div>
  <div class="d-flex flex-row">
      <div class = "p-2">お店を住所で調べてみる</div>
      <div class="p-2"><%= search_form_for @q, url: search_path do |f| %></div>
      <div class="p-2"><%= f.search_field :shopaddress_cont, class: 'form-control', placeholder: "住所を入れてください" %></div>
      <div class="p-2"><%= f.submit'検索',class: 'btn btn-success' %></div>
      <% end %>
   </div>
</nav>

<div class="text-right">
    <button type="button" class="btn btn-warning mt-3"><%= link_to 'ログアウト', logout_path, method: :delete, class: "link" %></button>
</div>   

<div class="container">
  <div class="row">
     <div class="list-group list-group-flush mx-auto" style="width: 50rem;">
    <% @posts.each do |post| %><a href="/posts/<%= post.id %>">
       <div class="list-group-item list-group-item-success mt-5 border-left border-right border-bottom"><%= post.shopname %></div>
       <div class="list-group-item border-left border-right border-bottom text-dark"><%= post.shopaddress %></div>
       <div class="list-group-item border-left border-right border-bottom text-dark" style="height: 8rem;"><%= post.shopcontent %></div></a>
       コメント数（<%= post.comments.count %>）
    <% end %>
    </div>
  </div>
</div>

<div class="d-flex align-items-center justify-content-center mt-5 mb-5"><%= paginate @posts %></div>


<div class="mx-auto" style="width: 500px;">
  <div class="form-group">
  <h1>投稿する</h1>

<%= form_with(model: @post, local: true) do |f| %>
  <% if @post.errors.any? %>
    <% @post.errors.full_messages.each do |message| %>
        <div class = "alert alert-success" role="alert"><%= message %></div>
  <% end %>
<% end %>
<div class = "row">
  <div class="col">
    <%= f.label :shopname, 'お店の名前' %>
    <%= f.text_area :shopname, class: 'form-control',  placeholder: "お店の名前" %>
  </div>
  <div class="col">
    <%= f.label :shopaddress, 'お店の住所'%>
    <%= f.text_area :shopaddress, class: 'form-control',  placeholder: "できるだけ詳しく" %>
  </div>
</div>
  
  <%= f.label :shopcontent, '詳しく教えてください' %>
  <%= f.text_area :shopcontent, class: 'form-control', rows: "10",  placeholder: "待ち時間や店員さんの対応" %></br>

  <%= f.submit '投稿',class: 'btn btn-success btn-block' %>
<% end %>
</div>
</div>
<% else %>
d
<% end %>



