<nav class="navbar navbar-dark bg-success text-white">
  <div class="navbar-brand"><%= link_to 'ウバポス', posts_path,class: "link" %><i class="fab fa-uber"></i></div>
</nav>

<div class="container">
  <div class="row">
    <div class="list-group list-group-flush mx-auto mb-5" style="width: 50rem;">
    <div class="list-group-item list-group-item-success mt-5 border-left border-right"><%= @post.shopname %></div>
    <div class="list-group-item border-left border-right border-bottom"><%= @post.shopcontent %></div>
  </div>
</div>

<div class = "container">
  <h2>コメント一覧</h2>
  <% @comments.each do |c| %>
    <div class = "row">
      <div class="list-group list-group-flush mx-auto col-xl-9">
        <div class="list-group-item list-group-item-success border" style="height: 50px;">
          <%= c.username%>:
        </div>
        <div class="list-group-item border ">
          <%= c.content %>
        </div>
      </div>
    </div>
  <% end %>
</div>
    

<div class = "container">
  <div class = "mt-5 form-group mx-auto border border-success p-4 col-xl-9">
    <div class = "row">
      <div class = "col-xl-9">
      <%= form_with model: [@post,@comment] do |f| %>
        <%= f.text_area :username, class: 'form-control mb-4', placeholder: "名前(省略可）", :value =>"通りすがりの配達員"%>
        <%= f.text_area :content, class: 'form-control',  placeholder: "コメント内容"%>
        <%= f.hidden_field :post_id, value: @post.id %>
        <%= f.submit 'コメントする',class: 'btn btn-success mt-4' %>
        </div>
      <% end %>
    </div>
  </div>
</div>